*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    min-width: 1900px;
}

@font-face{
    font-family: "nicolast";
    src: url("../fonte/Nicolast.woff");
}

#container{
    width: 100%; 
}


ul{
    list-style: none;
    width: 100%;
}

h2{
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px 0;
    color: #000;
    
}

p{
    font-size: 20px;
    margin: 10px 0;
    color: #000;
}

.conteudo button{ 
    padding: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 10px ;
    background: orange;
    font-weight: bolder;
}

button:hover{
    cursor: pointer;
}

/*inicio header*/

header{
    background: linear-gradient(to top right, #023763,#00A1CB);
    margin-top: 0;
    width: 100%;
}

#cabecalho-todo{
    width: 100%;
}

#cabecalho{
    text-align: center;
}

#centralizar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 2000px;
}

#texto-cabecalho{
    font-family: "nicolast";
    font-size: 45px;
    font-weight: bolder;
}

header h1{
    font-family: "nicolast";
    font-size: 45px;
    color: #000;
    margin: 0;
    padding: 20px;

}

header img{
    width: 200px;
    border-radius: 70%;
    margin: 10px;
}
/*Fim header*/



/* Inicio configurações Nav*/

nav ul{
    background: #4682B4;
    height: 60px;
    text-align: center;
}

nav li{
    display: inline;
    padding: 5px;
    margin: 5px;
}

a{
    color: #fff;
    text-decoration: none;
}

nav li a{
    font-size: 1.5em;
    padding: 14px;
    line-height: 60px;
    
}

nav input{
    line-height: 0;
}

nav li a:hover{
    border: 3px solid #ADD8E6;
}

/*Fim configurações Nav*/


/*inicio configurações conteudo*/

    article{
        max-width: 1560px;
        width: 81.5%;
        margin: 20px auto;
    }

    #flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        
    }

    .conteudo{
        width: 496px;
        height: 300px;
        background: #fff;
        margin: 10px;
        position: relative;
    }

    #flex .conteudo img{
        width: 30%;
        height: 70%;
        padding: 10px;
        margin-top: 40px;
        transition: transform 0.5s;
    }

    #flex .conteudo img:hover{
        transform: scale(1.2) ;
    }
    

    #flex .span{
        display: inline-block;
        position: absolute;
        top: 40px;
        margin: 10px;
    }

    .capa{
        font-size: 15px;
        color: #4682B4;
        font-weight: bolder;
    }

    .capa:hover{
        color: #B0E0E6;
    }

    .preco{
        font-size: 25px ;
    }


    #assinatura{
        width: 100%;
        margin-top: 20px;
        position: relative;
        background: linear-gradient(to bottom right, #6A5ACD, #4682B4);
        height: 80px;
        border-radius: 10px 10px 0 0;
    }

    #assinatura h3{
        margin: 20px;
        line-height: 45px;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #fff;

    }

    .direita{
        position: absolute;
        right: 0;
    }

    .esquerda{
        position: absolute;
        left: 0;
    }

    #propaganda{
        background: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px ;
    }

    .item{
        width: 400px;
        margin: 0 10px 10px 10px;
        display: inline-block;
        position: relative;  
        margin-left: 80px ;      
    }

    .item p{
        display: inline;
        font-size: 15px;
        margin: 10px;
        position: absolute;
        top: 50px;

    }

    #propaganda .item img{
        width: 150px;
        height: 90px;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 50%;
    }

    .confirmacao{
        position: relative;
        margin: 30px 30px 50px 30px;
    }

    .confirmacao button{
        width: 150px;
        background:#4682B4;
        color: #fff;
        position: absolute;
        right: 0;
        top: -30px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius:10px;

    }



/*Fim configurações conteudo*/


/*inicio configurações rodapé*/

footer{
    text-align: center;
    font-size: 30px;
}

/*Fim configurações rodapé*/